<div class="container-fluid">
	<div class="row">
		
		<div class="col-lg-8">

			<div id="profile">

				<div class="row" *ngIf="user && stats">

					<div class="col-md-3 avatar"  >
						<img src="{{url + 'get-image-user/' + user.image}}" alt="" class="img-thumbnail" *ngIf="user.image">
						<img src="assets/anonymous.png" alt="" class="img-thumbnail" *ngIf="!user.image">
						
					</div>

					<!-- Sección de udatos de user-->
					<div class="col-md-4 datos-user" >
						<h5 style="text-transform: uppercase;">
							{{user.name + ' ' + user.surname}}
						</h5>
						<p>
							{{user.nick}}
						</p>

						<!-- Sección de stats-->
						<div class="row stats ">
							
							<div class=" col-md-4" >
							   <a href="#">
									<span class="label-stats">
										Siguiendo <br>

									</span>
									<span class="number-stats">
										{{stats.following}}
									</span>
								</a>
							</div>

							<div class="status col-md-4 " *ngIf="stats">
								<a href="#">
									<span class="label-stats">
										Seguidores <br>
									</span>
									<span class="number-stats ">
										{{stats.followed}}
									</span>
							    </a>
							</div>

							<div class="status col-md-4 " *ngIf="stats">
								<a href="#">
									<span class="label-stats">
										Publicaciones <br>
									</span>
									<span class="number-stats" >
										{{stats.publication}}
									</span>
								</a>
							</div>

						</div>
						<!-- End Sección de stats-->

						<p>
							<span class="badge badge-secondary" *ngIf="followed">
								Te sigue
							</span>
						</p>
						<p>
							<button class="btn btn-sm btn-success" *ngIf="!following"
							(click)="followUser(user._id)">
								seguir
							</button>
							<button class="btn btn-sm btn-info" *ngIf="following"
							(click)="unfollowUser(user._id)"
							(mouseenter)="mouseEnter(user._id)"
							(mouseleave)="mouseLeave()"
							[class.btn-danger]="user._id == followUserOver">
								<span *ngIf="user._id == followUserOver; else following">
									Dejar de seguir
								</span>
									<ng-template #following>
										Siguiendo
									</ng-template>
							</button>
						</p>
							
						

					</div>
					<!-- End Sección de udatos de user-->
					
				</div>
			</div>

			<div class="row" *ngIf="user">

				<publications [user]="user._id" class="col-lg-12 publications"></publications>

			</div>

		</div>
		
		<sidebar class="col-lg-4"></sidebar>

	</div>
</div>
