<div class="container-fluid">
 <div class="row">

	<div class="col-lg-8" >
		<div *ngIf="user">
			<h1 class="h1-strong">{{title}} {{user.name}}</h1>
		</div>
		

		<div class="people " *ngIf="followed">
			
			<table class="table " >
				
				<tbody>
					<tr *ngFor="let follow of followed" class="item-follow.user">
					  <th scope="row">{{follow.user.nick}}</th>
				      
				      <td>
				        <a [routerLink]="['/perfil', follow.user._id]">
				        	{{follow.user.name+ ' ' + follow.user.surname }}
						</a>
					  </td>

					  <td >
				        <a [routerLink]="['/perfil', follow.user._id]">
				        	<img src="{{ url + 'get-image-user/' + follow.user.image }}" class="avatar" *ngIf="follow.user.image"/>
				        	<img src="assets/anonymous.png" class="avatar" *ngIf="!follow.user.image"/>
						</a>
					  </td>

					  <td *ngIf="follow.user._id != identity._id">
					  	<button class="btn btn-success" *ngIf="follows.indexOf(follow.user._id) < 0"
					  	(click)="followUser(follow.user._id)">
					  		Serguir
					  	</button>

					  	<button class="btn btn-info" *ngIf="follows.indexOf(follow.user._id) >= 0"
					  		(mouseenter)="mouseEnter(follow.user._id)"
					  		(mouseleave)="mouseLeave(follow.user._id)"
					  		(click)="unfollowUser(follow.user._id)"
					  		[class.btn-danger]="follow.user._id == followUserOver">
					  		<span *ngIf="follow.user._id == followUserOver; else following">Dejar de Serguir</span>
					  		<ng-template #following>Siguendo</ng-template>
					  	</button>
					  	
					  	
					  </td>

				    </tr>
				</tbody>

			</table>

			<!--Paginación-->
			<ul class="pagination justify-content-center">
			    <li class="page-item" *ngIf="page > 1">
			      <a class="page-link" [routerLink]="['/siguidores', userPageId, prev_page]" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>

			    
			    
			    <li class="page-item" *ngIf="pages != page">
			      <a class="page-link" [routerLink]="['/siguidores', userPageId,  next_page]" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			</ul>

		</div>
		
	</div>

	<sidebar class="col-lg-4"></sidebar>

 </div>
</div>

